 <li>a::before{
    content<url("../../public/icones/SystemUiconsArrowRight.svg");
}

.icone-chat-1 {
  background-image: url('../../public/icones/SystemUiconsArrowRight.svg');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px; 
  padding-right: 300px; 
  
}

.icone-chat-2 {
  background-image: url('../../public/icones/SystemUiconsArrowRight.svg');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px; 
  padding-right: 300px; 
  
}


.lang__img {
  background:red;
    margin-top: -20px;
    color: red;
}

